<p>
<%= link_to 'Home', root_path %>
<%= link_to 'Timelog', time_timelogs_path %>
</p>

<%= form_tag time_categories_path, multipart: true do %>
  <%= label(:time, :start) %>
  <%= date_select("time","start", selected: @summary[:head][:range][:start]) %>
  <br />
  <%= label(:time, :end) %>
  <%= date_select("time","end", selected: @summary[:head][:range][:end]) %>
  </br>
  <%= submit_tag "Submit" %>
<% end %>

<p>
total day is <%= @summary[:total][:total][:day] %><br />
total hours is <%= @summary[:total][:total][:hour].to_f/60 %><br />
</p>

<% @summary[:row].sort_by{|k,v| v[:duration]}.reverse.each do |k,v| %>
  <%= number_to_percentage(v[:duration].to_f/@summary[:total][:total][:hour].to_f*100,precision: 0) %> 
  <%= (((v[:duration].to_f/@summary[:total][:total][:day].to_f/60)*100).to_i).to_f/100 %> hours per day 
  <%= link_to Category.find_by_id(k).name, category_path(Category.find_by_id(k)) %> 
  <br />
<% end %>
