<p>
<%= link_to 'Home', root_path %>
<%= link_to 'Timelog', time_timelogs_path %>
</p>

<%= form_tag time_categories_path, multipart: true do %>
  <%= label(:time, :begin) %>
  <%= date_select("time","begin", selected: @summary[:range][:begin]) %>
  <br />
  <%= label(:time, :end) %>
  <%= date_select("time","end", selected: @summary[:range][:end]) %>
  </br>
  <%= submit_tag "Submit" %>
<% end %>


<p>
<%= link_to "Today", time_categories_path(begin: Time.now.strftime('%Y-%m-%d 00:00'),end: Time.now.strftime('%Y-%m-%d 23:59')), method: :post %>
<%= link_to "Yesterday", time_categories_path(begin: ((Time.now)-1.day).strftime('%Y-%m-%d 00:00'),end: ((Time.now)-1.day).strftime('%Y-%m-%d 23:59')), method: :post %>
<%= link_to "Last week", time_categories_path(begin: ((Time.now)-1.week).strftime('%Y-%m-%d 00:00'),end: (Time.now).strftime('%Y-%m-%d 23:59')), method: :post %>
</p>

<p>

begin day is <%= @summary[:range][:begin] %><br />
end day is <%= @summary[:range][:end] %><br />

<% total = 0 %>

<h4> categories </h4>
<% @summary[:category].sort_by{|category,duration| duration}.reverse.each do |category,duration| %>
  <% total += duration %>
  <span style="display: inline; background-color: <%= Category.find_by_id(category).root.color %>; padding: 5px;">
  <%= Category.find_by_id(category).name %> <%= duration %>  <%= Category.secondsToString(duration) %>
  </span><br /><br />
  <% @summary[:timelog][category].each do |timelog| %>
  <%= timelog.time %> <%= timelog.duration %> 
  <%= Category.secondsToString(timelog.duration) %>
  <%= timelog.event %>
  <br />
  <% end %>
  <br />
<% end %>
  
<p>
  <%= @summary[:total][:category] %>
</p>
