<p>
<%= link_to 'Home', root_path %>
<%= link_to 'Timelog', time_timelogs_path %>
</p>

<%= form_tag time_categories_path, multipart: true do %>
  <%= label(:time, :begin) %>
  <%= date_select("time","begin", selected: @summary[:head][:range][:begin]) %>
  <br />
  <%= label(:time, :end) %>
  <%= date_select("time","end", selected: @summary[:head][:range][:end]) %>
  </br>
  <%= submit_tag "Submit" %>
<% end %>


<p>
<%= link_to "Today", time_categories_path(begin: Time.now.strftime('%Y-%m-%d 00:00'),end: Time.now.strftime('%Y-%m-%d 23:59')), method: :post %>
<%= link_to "Yesterday", time_categories_path(begin: ((Time.now)-1.day).strftime('%Y-%m-%d 00:00'),end: ((Time.now)-1.day).strftime('%Y-%m-%d 23:59')), method: :post %>
<%= link_to "Last week", time_categories_path(begin: ((Time.now)-1.week).strftime('%Y-%m-%d 00:00'),end: (Time.now).strftime('%Y-%m-%d 23:59')), method: :post %>
</p>

<p>

begin day is <%= @summary[:head][:range][:begin] %><br />
end day is <%= @summary[:head][:range][:end] %><br />
<% if @summary[:head][:prev][:time] %>
remaining is <%= @summary[:head][:prev][:remaining] %><br />
remaining is category <%= Category.find_by_id(@summary[:head][:prev][:cat]).name %><br />
remaining was from <%= @summary[:head][:prev][:time] %><br />
<% end %>

<%= @summary[:head][:total][:inseconds] %>  (<%= distance_of_time_in_words(@summary[:head][:total][:inseconds]) %>)
<%= Category.secondsToString(@summary[:head][:total][:inseconds]) %>
</p>

<% @summary[:category].each do |k,v| %>
  <%= v[:name] %> <%= Category.secondsToString(v[:summary][:duration]) %> 
  <ul>
  <% v.drop(2).each do |k2,v2| %>
    <li>
      <%= k2 %> <%= v2[:name] %> <%= Category.secondsToString(v2[:duration]) %>
    </li>
  <% end %>
  </ul>
<% end %>
