<p>
<%= link_to 'Home', root_path %>
<%= link_to 'Timelog', time_timelogs_path %>
</p>

<%= form_tag time_categories_path, multipart: true do %>
  <%= label(:time, :begin) %>
  <%= date_select("time","begin", selected: @summary[:head][:range][:begin]) %>
  <br />
  <%= label(:time, :end) %>
  <%= date_select("time","end", selected: @summary[:head][:range][:end]) %>
  </br>
  <%= submit_tag "Submit" %>
<% end %>


<p>
<%= link_to "Today", time_categories_path(begin: Time.now.strftime('%Y-%m-%d 00:00'),end: Time.now.strftime('%Y-%m-%d 23:59')), method: :post %>
<%= link_to "Yesterday", time_categories_path(begin: ((Time.now)-1.day).strftime('%Y-%m-%d 00:00'),end: ((Time.now)-1.day).strftime('%Y-%m-%d 23:59')), method: :post %>
<%= link_to "Last week", time_categories_path(begin: ((Time.now)-1.week).strftime('%Y-%m-%d 00:00'),end: (Time.now).strftime('%Y-%m-%d 23:59')), method: :post %>
</p>

<p>

begin day is <%= @summary[:head][:range][:begin] %><br />
end day is <%= @summary[:head][:range][:end] %><br />

<% if @summary[:head][:prev][:timelog] %>
<h4>prev</h4>
remaining is <%= @summary[:head][:prev][:timelog] %><br />
remaining is <%= @summary[:head][:prev][:duration] %><br />
remaining is category <%= Category.find_by_id(@summary[:head][:prev][:timelog].category_id).name %><br />
remaining was from <%= @summary[:head][:prev][:timelog].time %><br />
<% end %>

<% if @summary[:head][:last][:timelog] %>
<h4>last</h4>
remaining is <%= @summary[:head][:last][:timelog] %><br />
remaining is <%= @summary[:head][:last][:duration] %><br />
last timelog end time is <%= @summary[:head][:last][:endtime] %><br />
remaining is category <%= Category.find_by_id(@summary[:head][:last][:timelog].category_id).name %><br />
remaining was from <%= @summary[:head][:last][:timelog].time %><br />
<% end %>

<h4> summary </h4>
<%= @summary[:head][:total][:inseconds] %>  (<%= distance_of_time_in_words(@summary[:head][:total][:inseconds]) %>)
<%= Category.secondsToString(@summary[:head][:total][:inseconds]) %>
</p>

<h4> categories </h4>
<% @summary[:category].each do |k,v| %>
  <%= v[k][:name] %>
  <%= Category.secondsToString(v[k][:duration]) %>
  <ul>
  <% v.each do |k2,v2| %>
    <li>
      <%= k2 %> <%= v2[:name] %> <%= Category.secondsToString(v2[:duration]) %>
      <ul>
      <% v2[:logs].each do |log| %>
	<li>
	  <%= log.time %>
	  (<%= Category.secondsToString(log.duration) %>)
	  <%= log.event %>
	</li>
      <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
<% end %>
