<h1>Timelogs</h1>

<p>
<%= link_to 'New timelog', new_timelog_path %> <%= link_to 'Home', root_path %>
</p>

<% @timelogs.order("time desc").each do |timelog| %>
  <%= timelog.time %>
  <%= timelog.category_id %>
  <% category = Category.find_by_id(timelog.category_id) %>
  <% if category %>
    <strong><%= link_to category.name, category_path(category) %></strong>
  <% end %>
  <%= timelog.event %> 
  
  <%= link_to 'Show', timelog_path(timelog) %> 
  <%= link_to 'Edit', edit_timelog_path(timelog) %> 
  <%= link_to 'Delete', timelog_path(timelog), method: :delete, data: { confirm: 'Are you sure?' } %>
</br>
<% end %>

<h2>Import CSV</h2>
<%= form_tag import_timelogs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<h2>Batch Delete</h2>
<%= form_tag delete_timelogs_path, multipart: true do %>
  <%= label(:time, :start) %>
  <%= datetime_select("time","start",default: {:hour => 00, :minute => 00} ) %>
  <br />
  <%= label(:time, :end) %>
  <%= datetime_select("time","end",default: {:hour => 23, :minute => 59} ) %>
  </br>
  <%= submit_tag "Delete" %>
<% end %>

