<h1>Timelogs</h1>
<% @timelogs.order("time desc").each do |timelog| %>
  <%= timelog.time %>
  <% unless timelog.category_id.blank? %>
    <% category = Category.find_by_id(timelog.category_id) %>
    <% if category %>
      <strong><%= link_to category.name, category_path(category) %></strong>
    <% end %>
  <% end %>
  <%= timelog.event %> 
  
  <%= link_to 'Show', timelog_path(timelog) %> 
  <%= link_to 'Edit', edit_timelog_path(timelog) %> 
  <%= link_to 'Delete', timelog_path(timelog), method: :delete, data: { confirm: 'Are you sure?' } %>
</br>
<% end %>

<h2>Import CSV</h2>
<%= form_tag import_timelogs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<p>
<%= link_to 'New timelog', new_timelog_path %> <%= link_to 'Home', root_path %>
</p>
