<h1>Hello Lifelog</h1>
<%= link_to 'Dashboard', time_categories_path %>
<ul>
<li><%= link_to 'Timelog', time_timelogs_path %></li>
<li><%= link_to 'Category', time_categories_path %></li>
</ul>
All
<ul>
<li><%= link_to 'Timelog', controller: 'timelogs' %></li>
<li><%= link_to 'Category', controller: 'categories' %></li>
</ul>
<%= link_to 'Clothes', controller: 'clothes' %>
<br />
