<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
 
<p>
  <strong>Shortcut:</strong>
  <%= @category.shortcut %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @category.notes %>
</p>

<h2>Timelogs:</h2>
<%= render @category.timelogs %>

<% if @category.id == 1 %>
<h2>Blank categories:</h2>
<% Timelog.all.each do |timelog| -%>
  <%= render timelog  %>
<% end -%>
<% end %>

<%= link_to 'Back', categories_path %>
| <%= link_to 'Edit', edit_category_path(@category) %>
