<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
 
<p>
  <strong>Notes:</strong>
  <%= @category.notes %>
</p>

<h2>Timelogs:</h2>
<%= render @category.timelogs %>

<h2>Add a timelog:</h2>

<%= link_to 'Back', categories_path %>
| <%= link_to 'Edit', edit_category_path(@category) %>
